{% extends "base.html" %}
{% block title %}GÁN NHÃN{% endblock %}
{% block content %}

<h1 align="center"><img style="width: 50px;" src="https://cdn-icons-png.flaticon.com/512/13153/13153683.png" alt="2024 IMG"> CÔNG CỤ GÁN NHÃN | <a href="https://drive.google.com/drive/folders/1EL6WA2VGSWY4eY02XsOGGTyV1Fpo_e5E?fbclid=IwAR1XxEPc2N1mn8DZPDag6KnhncnXniyh0nqb3aR7xmCEiihdotsPaGe0gTc">GUIDELINE</a></h1>
<!-- Add CSS style for the progress bar -->
<style>
    img {
        width: 50px; /* Adjust width as needed */
        height: auto; /* Maintain aspect ratio */
    }
    body, html {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .progress-bar {
        width: 100%;
        height: 40px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f1f1f1;
        position: relative;
    }

    .completed-bar {
        height: 100%;
        background-color: #4CAF50;
        border-radius: 5px;
    }

    .incomplete-bar {
        height: 100%;
        background-color: #f44336;
        border-radius: 5px;
    }

    .progress-text {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        line-height: 20px;
    }

    /* Additional information initially hidden */
    .additional-info {
        display: none;
    }
    
    /* Style the arrow */
    .arrow {
        display: inline-block;
        width: 0;
        height: 0;
        border: solid black;
        border-width: 0 3px 3px 0;
        padding: 3px;
        margin-left: 5px;
    }
    
    /* Change cursor style to pointer */
    .toggle-item {
        cursor: pointer;
    }

    .toggle-item:hover {
        background-color: lightgray;
    }
    
    /* Add custom CSS styles */
    table {
        border-collapse: collapse;
        width: 100%;
    }
    th, td {
        border: 1px solid black;
        padding: 8px;
    }
    /* Highlight the aspect row */
    tr.aspect-row {
        background-color: #f2f2f2;
    }
    /* Adjust the margin of the submit button */
    .submit-btn {
        margin-top: 15px; /* Change this value to adjust the gap */
    }

    /* Adjust the size of the checkboxes */
    input[type="checkbox"] {
        transform: scale(1.5); /* increase size by 20% */
        margin-right: 10px; /* add some space between checkboxes */
        margin-left: 20px;
    }

    /* Display checkboxes in the same line */
    .label-div {
        display: inline-block;
    }

    /* Highlight label and checkbox on hover */
    .checkbox-label:hover,
    .custom-checkbox:hover,
    .label-for-is-done:hover,
    input[type="checkbox"]:hover {
        background-color: lightblue;
        cursor: pointer;
    }
    
    .form-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    .right-container {
        width: 75%;
        padding-right: 10px;
    }

    .left-container {
        width: 25%;
        padding-left: 10px;
    }

    .left-content {
        display: flex;
        justify-content: center; /* Center the content horizontally */
        text-align: left; /* Align text within the div to the left */
        flex-direction: column; /* Ensures each child is on a new line */
    }

    ul {
        padding-left: 20px;
        margin-bottom: 0;
    }
    
    .radio-group {
        display: flex;
    }

    .radio-group input[type="radio"] {
        display: none;
    }

    .custom-radio {
        display: inline-block;
        width: 50px; /* Adjust width as needed */
        height: 50px; /* Set height equal to width for square shape */
        line-height: 50px; /* Center the label vertically */
        text-align: center; /* Center the label horizontally */
        background-color: #ccc;
        border-radius: 5px;
        cursor: pointer;
        margin: 0;
        font-weight: bold;
    }

    .custom-radio:hover {
        background-color: #ddd; /* Change background color on hover */
    }
    
    .ratio_pos:checked + .label_pos {
        background-color: yellowgreen; /* Change background color when checked */
        color: greenyellow;
    }

    .ratio_neg:checked + .label_neg {
        background-color: yellowgreen; /* Change background color when checked */
        color: red;
    }

    .ratio_neu:checked + .label_neu {
        background-color: yellowgreen; /* Change background color when checked */
        color: white;
    }

    .ratio_nm:checked + .label_nm {
        background-color: yellowgreen; /* Change background color when checked */
        color: black;
    }

    .aspect-row td {
        text-align: right; /* Center the content horizontally */
    }

    .radio-group {
        display: inline-block; /* Ensure the div behaves like an inline-block element */
    }

    #customModal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content/Box */
    .modal-content {
        background-color: #fefefe;
        margin: 15% auto; /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 70%; /* Could be more or less, depending on screen size */
    }

    /* The Close Button */
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover, .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
</style>

<!-- Extract annotation -->
{% if ann_data is not none %}
    {% set label = ann_data['label'] %}
    {% set explanation = ann_data['explanation'] %}
{% else %}
    {% set label = '' %}
    {% set explanation = '' %}
{% endif %}

<hr>

<!-- Custom pop-up modal -->
<div id="customModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <p id="modalMessage"></p>
        <p>Tự động ẩn sau 5s</p>
    </div>
</div>

<!-- Labeling -->
<form action="{{ url_for('views.annotate', index=current_idx) }}" method="post" class="form-container" id="annotationForm">

    <!-- Data -->
    <div class="right-container left-content">

        <table>
            {% for aspect, attributes in rcmt_data.items() %}
                <!-- Each aspect -->
                <tr class="aspect-row">
                    <th style="width: 10%;">{{ aspect }}</th>
                    <td>  
                        <i>Click vào đây để chọn ->     </i>
                        <div class="radio-group">
                            <input class="ratio_pos" type="radio" id="{{ aspect }}_positive" name="{{ aspect }}" value="positive" {% if ann_data is not none and ann_data[aspect] == 'positive' %}checked{% endif %}>
                            <label class="custom-radio label_pos" for="{{ aspect }}_positive">POS</label>
                            
                            <input class="ratio_neg" type="radio" id="{{ aspect }}_negative" name="{{ aspect }}" value="negative" {% if ann_data is not none and ann_data[aspect] == 'negative' %}checked{% endif %}>
                            <label class="custom-radio label_neg" for="{{ aspect }}_negative">NEG</label>
                            
                            <input class="ratio_nm" type="radio" id="{{ aspect }}_not_mentioned" name="{{ aspect }}" value="not_mentioned" {% if ann_data is not none and ann_data[aspect] == 'not_mentioned' %}checked{% endif %}>
                            <label class="custom-radio label_nm" for="{{ aspect }}_not_mentioned">NM</label>
                            
                            <input class="ratio_neu" type="radio" id="{{ aspect }}_neutral" name="{{ aspect }}" value="neutral" {% if ann_data is not none and ann_data[aspect] == 'neutral' %}checked{% endif %}>
                            <label class="custom-radio label_neu" for="{{ aspect }}_neutral">NEU</label>
                        </div>
                    </td>
                </tr>
                {% for attribute, value in attributes.items() %}
                    {% if value is not none %}
                    <tr>
                        <td>{{ attribute }}</td>
                        {% if attribute == 'body' %}
                            <td>{{ value|safe }}</td>
                        {% else %}
                            <td>{{ value }}</td>
                        {% endif %}
                    </tr>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </table>
    </div>

    <!-- Labeling Input -->
    <div class="left-container">

        <div>
            {% if ann_data is not none %}
                <h2 class="text-success text-center">Mẫu <strong>{{ current_idx }}</strong>. Đang cập nhật!</h2>
            {% else %}
                <h2 class="text-danger text-center">Mẫu <strong>{{ current_idx }}</strong>. Gán lần đầu!</h2>
            {% endif %}

            <div class="progress-bar" style="margin-bottom: 10px;">
                <!-- Calculate the percentage of completed tasks -->
                {% set percentage_completed = (n_completed / last) * 100 %}
                <!-- Render the completed bar -->
                <div class="completed-bar" style="width: {{ percentage_completed }}%"></div>
                <!-- Render the incomplete bar -->
                <div class="incomplete-bar" style="width: {{ 100 - percentage_completed }}%"></div>
                <!-- Display the progress text -->
                <div class="text-success"><strong>{{ n_completed }} / {{ last }} samples đã hoàn thành gán nhãn</strong></div>
            </div>

            <!-- Item to toggle -->
            <div class="toggle-item" onclick="toggleInfo(this)" style="background-color: lightpink; border: black; border-radius: 10px;">
                <strong>Các mẫu chưa gán<span class="arrow">&#9660;</span></strong>
                <!-- Additional information hidden by default -->
                <div class="additional-info">{{ indices_incompleted }} <br> <strong>Số lượng</strong>: {{ indices_incompleted|length }}</div>
            </div>
        </div>

        <hr>

        <!-- Options left right -->
        <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-primary mr-3" id="previous" onclick="window.location.href='/annotate/?index={{ rcmt_idx - 1 }}'">
                <i class="fas fa-arrow-left"></i>
            </button>
            <button type="button" class="btn btn-primary mr-3" id="from-beginning" onclick="window.location.href='/annotate/?index=1'">
                <i class="fas fa-fast-backward"></i>
            </button>
            <button type="button" class="btn btn-primary mr-3" id="from-end" onclick="window.location.href='/annotate/?index={{ last }}'">
                <i class="fas fa-fast-forward"></i>
            </button>
            <button type="button" class="btn btn-primary mr-3" id="next" onclick="window.location.href='/annotate/?index={{ rcmt_idx + 1 }}'">
                <i class="fas fa-arrow-right"></i>
            </button>
        </div>
        <br>
        
        <span><strong>Not ok</strong><span class="left-arrow">&#9666;</span><span class="right-arrow">&#9656;</span></span>
        <br>
        <div class="d-flex justify-content-center" style="padding-top: 10px;">
            <button type="button" class="btn btn-primary mr-3" id="previous" onclick="window.location.href='/annotate/?index={{ indices_samples_not_okay[0] }}'">
                <i class="fas fa-arrow-left"></i>
            </button>
            <button type="button" class="btn btn-primary mr-3" id="previous" onclick="window.location.href='/annotate/?index={{ indices_samples_not_okay[left] }}'">
                <i class="fas fa-fast-backward"></i>
            </button>
            <button type="button" class="btn btn-primary mr-3" id="previous" onclick="window.location.href='/annotate/?index={{ indices_samples_not_okay[right] }}'">
                <i class="fas fa-fast-forward"></i>
            </button>
            <button type="button" class="btn btn-primary mr-3" id="previous" onclick="window.location.href='/annotate/?index={{ indices_samples_not_okay[-1] }}'">
                <i class="fas fa-arrow-right"></i>
            </button>
        </div>

        <hr>

        <div class="left-content">
            {% if ck_data is not none %}
            <span><strong >Cross-check Review từ User: </strong>{{ validator_name, ck_data.validator_user_id }}</span>
            <ul>
                <li><span><strong>Is Okay: </strong>{{ ck_data.is_accepted }}</span></li>
                <li><span><strong>Review: </strong>{% if ck_data.cross_check_review %} <pre style="white-space: pre-wrap; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 15px;">{{ ck_data.cross_check_review }}</pre> {% else %} <span style="font-style: italic; color: chocolate;">(Rỗng)</span> {% endif %}</span></li>
            </ul>
            {% else %}
            <i>Chưa có User nào cross-check cho bạn</i>
            {% endif %}
        </div>

        <hr>

        <div class="labeling-container">
            <div class="labeling-inputs left-content">
                {% if ck_data is not none %}
                <div class="label-div">
                    <label for="is_done" class="label-for-is-done"><strong>Đánh dấu đã review lại:</strong></label>
                    <input type="checkbox" name="is_done" id="is_done" class="custom-checkbox" {% if ck_data.is_done %}checked{% endif %}>
                </div>
                {% endif %}

                <div class="label-div">
                    <label for="labeling-select"><strong>Nhãn:</strong></label>
                    <!-- <select name="labeling_select" id="labeling-select" required>
                        <option value="">Bạn chưa chọn</option>
                        <option value="clean" {% if label == 'clean' %}selected{% endif %}>Clean</option>
                        <option value="seeding" {% if label == 'seeding' %}selected{% endif %}>Seeding</option>
                        <option value="warning" {% if label == 'warning' %}selected{% endif %}>Warning</option>
                    </select> -->
                    <input type="checkbox" name="labeling_checkbox" id="clean-checkbox" value="clean" {% if label == 'clean' %}checked{% endif %}><label for="clean-checkbox" class="checkbox-label">Clean</label>
                    <input type="checkbox" name="labeling_checkbox" id="seeding-checkbox" value="seeding" {% if label == 'seeding' %}checked{% endif %}><label for="seeding-checkbox" class="checkbox-label">Seeding</label>
                    <input type="checkbox" name="labeling_checkbox" id="warning-checkbox" value="warning" {% if label == 'warning' %}checked{% endif %}><label for="warning-checkbox" class="checkbox-label">Warning</label>
                </div>
                
                <label for="explanation"><strong>Viết câu giải thích:</strong></label>
                <!-- <input type="text" name="explanation" id="explanation" maxlength="5000" style="width: 100%;" value={{ explanation }}> -->
                <textarea name="explanation" id="explanation" rows="2" style="width: 100%; height: 250px;">{{ explanation }}</textarea>
            </div>
        </div>

        <!-- Submit button -->
        <div class="submit-btn text-center">
            <input type="submit" value="Submit">
        </div>
    </div>

</form>

<script>
    // Function to ensure only one checkbox (main label) can be checked
    var checkboxes = document.querySelectorAll('input[type="checkbox"][name="labeling_checkbox"]');
    checkboxes.forEach(function(checkbox) {
        checkbox.addEventListener('change', function() {
            checkboxes.forEach(function(c) {
                if (c !== checkbox) {
                    c.checked = false;
                }
            });
        });
    });

    // Show all samples have not completed
    function toggleInfo(item) {
        // Find the additional information within the item
        var additionalInfo = item.querySelector('.additional-info');
        var arrow = item.querySelector('.arrow');
        
        // Toggle the visibility of the additional information
        if (additionalInfo.style.display === 'none') {
            additionalInfo.style.display = 'block';
            arrow.innerHTML = '&#9650;'; // Change arrow to up arrow when expanded
        } else {
            additionalInfo.style.display = 'none';
            arrow.innerHTML = '&#9660;'; // Change arrow to down arrow when collapsed
        }
    }

    // Prevent case no label for each aspect
    var modal = document.getElementById("customModal");
    var span = document.getElementsByClassName("close")[0];

    span.onclick = function() {
        closeModal();
    }

    document.getElementById("annotationForm").addEventListener("submit", function(event) {
        var checkboxes = document.querySelectorAll('input[type=checkbox]:checked');
        var aspectRows = document.querySelectorAll('.aspect-row');
        var explanationTextarea = document.getElementById("explanation");
        var isValid = true;

        // Check if at least one checkbox is checked
        if (checkboxes.length === 0) {
            showModal("Nhãn chính", " cần được chọn!");
            event.preventDefault();
            setTimeout(closeModal, 5000); // Hide modal after 3 seconds
            return
        }

        // Check if at least one radio button is checked for each aspect
        aspectRows.forEach(function(row) {
            var radioButtons = row.querySelectorAll('input[type=radio]');
            var radioChecked = Array.prototype.slice.call(radioButtons).some(function(button) {
                return button.checked;
            });
            if (!radioChecked) {
                isValid = false;
            }
        });

        // If not all aspects have been labeled
        if (!isValid) {
            showModal("Nhãn khía cạnh", " cần được chọn!");
            event.preventDefault();
            setTimeout(closeModal, 5000); // Hide modal after 3 seconds
            return
        }

        // If not explanation
        if (explanationTextarea.value.trim() === "") {
            showModal("Câu giải thích", " cần được cung cấp!");
            event.preventDefault();
            setTimeout(closeModal, 5000); // Hide modal after 3 seconds
            return
        }
    });

    // Function to display the modal with a custom message
    function showModal(message1, message2) {
        var formattedMessage = "<strong>" + message1 + "</strong>" + message2
        document.getElementById("modalMessage").innerHTML = formattedMessage;
        modal.style.display = "block";
    }
    // Function to close the modal
    function closeModal() {
        modal.style.display = "none";
    }


</script>

{% endblock %}